/*Colors*/

$primary-color: #008E84;
$secondary-color: #ffffff;
$active-color: $primary-color;
$ascent-1-color: $primary-color;
$ascent-2-color: #F39C12;
$ascent-3-color: #C0392B;
$ascent-4-color: #1D2A37;
$ascent-5-color: #131C24;
$dark-green:#0e4f1d;
$gobiz-base: #000000;